<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="cn.appinfo.dao.appcategory.AppCategoryMapper">
 		<select id="cateList" resultType="appCateGory">
 				SELECT * FROM `app_category`  
 				<where>
 					<if test="_parameter!=null and _parameter!='' and _parameter!='null'">
 						and parentId=#{parentId}
 					</if>
 					<if test="_parameter==null or _parameter=='null'">
 						and parentId is null
 					</if>
 				</where>
 		</select>
 	
 </mapper>