<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.appinfo.dao.devuser.DevUserMapper">
 	<select id="toLogin" resultType="devUser">
 		SELECT * FROM `dev_user` WHERE `devCode` = #{userCode} and `devPassword` =#{pwd};
 	</select>
 	
 </mapper>